# Files to include
include iinfer/*.yml
include iinfer/extensions/**
include iinfer/docker/**
include iinfer/licenses/**
include iinfer/tools/**
include iinfer/web/**

# Files to exclude
global-exclude *.pyc
global-exclude *.swp
global-exclude .DS_Store
global-exclude iinfer/extensions/data/*.json
global-exclude iinfer/extensions/data/*/*.jpg
global-exclude iinfer/extensions/data/*/*.svg

# Exclude specific directories
recursive-exclude * build
