argcomplete
collectlicense
eel
motpy
opencv-python
Pillow
wxPython
pytest
pytest-order
pyyaml
redis
requests
requests_mock
tabulate
twine
six
sphinx
sphinx-rtd-theme
sphinx_fontawesome
sphinx-intl
sphinx-sitemap
wheel
